# macOS System files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.metadata_never_index
.fseventsd

# PlatformIO specific
**/.pio
**/.piolibdeps
.pioenvs/
.piolibdeps/
.pio/
*.ini

# VS Code specific
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
*.code-workspace
*.history

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
